<!DOCTYPE html> <html> <head> <title>VisionSystemHTML</title> <meta charset="UTF-8"> </head>

<body>
  <h1>Vision System Command Center</h1>

  <form method="post" action="/">
		<label for="">Ytop:</label<br>
		<input name="Ytop" id="Ytop" type="number">
		<label for="">Ybottom:</label<br>
		<input name="Ybottom" id="Ybottom" type="number"><br>

		<label for="">Xleft:</label<br>
		<input name="Xleft" id="Xleft" type="number">
		<label for="">Xright:</label<br>
		<input name="Xright" id="Xright" type="number"><br>

    	<input type="submit" name="generic_button" value="Take a Picture"></input>
  </form>

  <form method="post" action="/">
		<label for="">MinContour:</label<br>
    	<input name="MinContour" id="MinContour" type="number"><br>
    	<input type="submit" name="generic_button" value="Contours Removed"></input>
  </form>

  <form method="post" action="/">
  	<input type="submit" name="generic_button" value="Laser Line"></input>
  </form>

<form method="POST" action="/">
	<label for="">lowerH:</label<br>
	<input name="lowerH" id="lowerH" type="number">
	<label for="">upperH:</label<br>
	<input name="upperH" id="upperH" type="number">
	<label for="">extraH</label<br>
	<input name="extraH" id="extraH" type="number"><br>
    
	<label for="">lowerS:</label<br>
	<input name="lowerS" id="lowerS" type="number">
	<label for="">upperS:</label<br>
	<input name="upperS" id="upperS" type="number"><br>
    
	<label for="">lowerV:</label<br>
	<input name="lowerV" id="lowerV" type="number">
	<label for="">upperV:</label<br>
	<input name="upperV" id="upperV" type="number"><br>
   
	<input type="submit" name="generic_button" value="Color Filter"></input>
</form>


<h2><img src="{{ output_image }}" alt = "ViSiOn system" height= "{{ resolutionYY }}"  width=resolutionX-Xleft-Xright>
</body>
</html>
